@model MouraSolutionsWeb.Models.Pedido

@{
    ViewData["Title"] = "Edit";
}

<h1>Alterar</h1>

<h4>Pedido/Solicitação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="form">
            @{
                if (ViewBag.Role == "Admin" && ViewBag.Role == "Cliente")
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="ClienteId" class="control-label"></label>
                        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DataPedidoRetirada" class="control-label"></label>
                        <input asp-for="DataPedidoRetirada" class="form-control" />
                        <span asp-validation-for="DataPedidoRetirada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NomeSolicitante" class="control-label"></label>
                        <input asp-for="NomeSolicitante" class="form-control" />
                        <span asp-validation-for="NomeSolicitante" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataRetirada" class="control-label"></label>
                        <input asp-for="DataRetirada" class="form-control" />
                        <span asp-validation-for="DataRetirada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataEntrega" class="control-label"></label>
                        <input asp-for="DataEntrega" class="form-control" />
                        <span asp-validation-for="DataEntrega" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="statusPedidoId" class="control-label"></label>
                        <select asp-for="statusPedidoId" class="form-control" asp-items="ViewBag.statusPedidoId"></select>
                        <span asp-validation-for="statusPedidoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CEP" class="control-label"></label>
                        <input asp-for="CEP" class="form-control" />
                        <span asp-validation-for="CEP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Obsercao" class="control-label"></label>
                        <input asp-for="Obsercao" class="form-control" />
                        <span asp-validation-for="Obsercao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ZonaId" class="control-label"></label>
                        <select asp-for="ZonaId" class="form-control" asp-items="ViewBag.ZonaId"></select>
                        <span asp-validation-for="ZonaId" class="text-danger"></span>
                    </div>

                    <div class="border container" id="pacienteItemsContainer">
                        @Html.EditorFor(model => model.Pacientes)
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <input class="btn btn-danger" type="button" id="btnAdd" value="Paciente" />
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Salvar alteração" class="btn btn-primary" />
                        </div>
                    </div>
                }
                else    //Se não for Cliente ou Admin
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="ClienteId" class="control-label"></label>
                        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DataPedidoRetirada" class="control-label"></label>
                        <input asp-for="DataPedidoRetirada" class="form-control" readonly="readonly" />
                        <span asp-validation-for="DataPedidoRetirada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NomeSolicitante" class="control-label"></label>
                        <input asp-for="NomeSolicitante" class="form-control" readonly="readonly" />
                        <span asp-validation-for="NomeSolicitante" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataRetirada" class="control-label"></label>
                        <input asp-for="DataRetirada" class="form-control" readonly="readonly" />
                        <span asp-validation-for="DataRetirada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataEntrega" class="control-label"></label>
                        <input asp-for="DataEntrega" class="form-control" readonly="readonly" />
                        <span asp-validation-for="DataEntrega" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="statusPedidoId" class="control-label"></label>
                        <select asp-for="statusPedidoId" class="form-control" asp-items="ViewBag.statusPedidoId"></select>
                        <span asp-validation-for="statusPedidoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CEP" class="control-label"></label>
                        <input asp-for="CEP" class="form-control" readonly="readonly" />
                        <span asp-validation-for="CEP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Obsercao" class="control-label"></label>
                        <input asp-for="Obsercao" class="form-control" />
                        <span asp-validation-for="Obsercao" class="text-danger"></span>
                    </div>
                    <div class="form-group" readonly="readonly">
                        <label asp-for="ZonaId" class="control-label"></label>
                        <select asp-for="ZonaId" class="form-control" asp-items="ViewBag.ZonaId"></select>
                        <span asp-validation-for="ZonaId" class="text-danger"></span>
                    </div>

                    <div class="border container" id="pacienteItemsContainer">
                        @Html.EditorFor(model => model.Pacientes)
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <input class="btn btn-danger" type="button" id="btnAdd" value="Paciente" />
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Salvar alteração" class="btn btn-primary" />
                        </div>
                    </div>
                }
            }



            @*<div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $("#btnAdd").on('click', function () {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: '/Pedidos/PacienteMethod',
                success: function (partialView) {
                    console.log("partialView: " + partialView);
                    $('#pacienteItemsContainer').html(partialView);
                }
            });
        });
    </script>

}
