@model MouraSolutionsWeb.Models.SystemUser

@{
    ViewData["Title"] = "Create";
}

<img src="~/Imagens/icoPessoaLogin.png" width="40" /><h4>Login</h4>
<h4>@ViewBag.Message</h4>
<hr/>

<div class="row">
    
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" type="password" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-primary" data-toggle="modal" data-target="#myModal" />
            </div>
        </form>
    </div>
</div>
    <div>
        <a asp-action="Index">Voltar para lista</a>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
