@model MouraSolutionsWeb.Models.Paciente

<div class="row">
    <div class="col">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdPaciente" />
        <div class="form-group">
            <label asp-for="NomePaciente" class="control-label"></label>
            <input asp-for="NomePaciente" class="form-control" />
            <span asp-validation-for="NomePaciente" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Protocolo" class="control-label"></label>
            <input asp-for="Protocolo" class="form-control" />
            <span asp-validation-for="Protocolo" class="text-danger"></span>
        </div>

        @*<div class="form-group">
            <label asp-for="ConfMoto" class="control-label"></label>
            <input asp-for="ConfMoto" class="form-control" />
            <span asp-validation-for="ConfMoto" class="text-danger"></span>
        </div>
        

        <div class="form-group">
            <label asp-for="ConfMoto" class="control-label"></label>
            <input asp-for="ConfMoto" class="form-control" />
            <span asp-validation-for="ConfMoto" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfClinica" class="control-label"></label>
            <input asp-for="ConfClinica" class="form-control" />
            <span asp-validation-for="ConfClinica" class="text-danger"></span>
        </div>*@
    </div>
    <div class="col">
        <div class="form-group">
            <label asp-for="ConfEscritorio" class="control-label"></label>
            <input asp-for="ConfEscritorio" class="form-control" />
            <span asp-validation-for="ConfEscritorio" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="Tma" class="control-label"></label>
            <input asp-for="Tma" class="form-control" />
            <span asp-validation-for="Tma" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="Obs" class="control-label"></label>
            <input asp-for="Obs" class="form-control" />
            <span asp-validation-for="Obs" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="statusProtocolo" class="control-label"></label>
            <input asp-for="statusProtocolo" class="form-control" />
            <span asp-validation-for="statusProtocolo" class="text-danger"></span>
        </div>*@
    </div>
</div>


