@model MouraSolutionsWeb.Models.Zona

@{
    ViewData["Title"] = "Edit";
}

<h1>Alterar</h1>

<h4>Zona/Região da cidade:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdZona" />
            <div class="form-group">
                <label asp-for="ZonaNome" class="control-label"></label>
                <input asp-for="ZonaNome" class="form-control" />
                <span asp-validation-for="ZonaNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BairrosAtendidos" class="control-label"></label>
                <input asp-for="BairrosAtendidos" class="form-control" />
                <span asp-validation-for="BairrosAtendidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaixaCeps" class="control-label"></label>
                <input asp-for="FaixaCeps" class="form-control" />
                <span asp-validation-for="FaixaCeps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
